<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Porto</title>
</head>
<body>

<h1>Cadastrar container:</h1>
<form method="post">
    Cliente: <input type="text" value="" name="cliente:"/>
    Numero do Container: <input type="text" value="" name="numeroContainer:"/>
    Tipo: <input type="int" value="" name="tipo:"/>
    Status: <input type="text" value="" name="status:"/>
    Categoria: <input type="text" value="" name="categoria:"/>
</form>

<button type="submit">Salvar</button>

</body>
</html>